/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

.gradient {

  background-image: linear-gradient(360deg, rgba(247,228,191,1) 0%, rgba(120,167,198,1) 35%, rgba(19,77,113,1) 100%);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.radioButton {
  background: white;
  width: 200px;
  margin: auto;
}

.pic {
  background: white;
  width: 400px;
  margin: auto;

}

h1,
h2 {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  /* border: 5px solid pink */
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
}

/* background {
  linear-gradient(to botton, light-yellow - #f7e4bf,
  light-blue - #78a7c6,
  dark-blue - #134d71);
} */


/* * {
  font-family: 'Quicksand', sans-serif;
} */
